@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  touch-action: pan-y;

  /* Fix scrolling freeze bug on mobile */
  overscroll-behavior: none;
  overflow: hidden;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.drawer-toggle ~ .drawer-side {
  max-height: 100%;
}

/* Fix 100vh problem on touch devices */
@supports (-webkit-touch-callout: none) {
  .min-h-screen-safe {
    min-height: -webkit-fill-available;
  }
}
