# Ignore binary files
gateway-service/gatewayApp
user-service/userApp
logger-service/loggerApp
document-service/documentApp

# Ignore mounted volumes
user-service/db-data
logger-service/db-data
document-service/db-data
calendar-service/data

# Ignore frontend files
frontend-service/node_modules
frontend-service/.DS_Store
frontend-service/dist
frontend-service/dist-ssr
frontend-service/coverage

# Ignore proto folder in services
gateway-service/proto
user-service/proto
logger-service/proto
document-service/proto
calendar-service/proto

# Ignore rust files
calendar-service/target
**/Cargo.lock

# Ignore editor directories and files
.vscode/*
*/.vscode/*
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?