# Don't forget to rename the file to "gateway.env"
# In case of actions usage - don't forget to add all this lines to GATEWAY_ENV_VARS Secrets
GATEWAY_PORT=80
USER_GRPC_HOST=10.0.1.1
USER_GRPC_PORT=50001
DOCUMENT_GRPC_PORT=50002
DOCUMENT_GRPC_HOST=10.0.1.1
CALENDAR_GRPC_PORT=50051
CALENDAR_GRPC_HOST=10.0.1.1
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
JWT_SECRET=
GIN_MODE=release
MAILERSEND_API_KEY=
HOST_URL=https://validity.red
ENVIRONMENT=production
