# Don't forget to rename the file to "calendars.env"
# In case of actions usage - don't forget to add all this lines to SERVICES_CALENDARS_ENV_VARS Secrets
RUST_BACKTRACE=true
GRPC_PORT=50051
# Should be utf-8 32 Byte random string
ENCRYPTION_KEY=
SENTRY_DSN=
