# Don't forget to rename the file to "documents.env"
# In case of actions usage - don't forget to add all this lines to SERVICES_DOCUMENTS_ENV_VARS Secrets
GRPC_PORT=50002
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
# Should be utf-8 32 Byte random string
ENCRYPTION_KEY=
