# Don't forget to rename the file to "users.env"
# In case of actions usage - don't forget to add all this lines to SERVICES_USERS_ENV_VARS Secrets
GRPC_PORT=50001
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
SENTRY_DSN=
